{% load static %}
<!--3rd row start OR footer section start-->

<!--3rd row end OR footer section end-->



<footer class="text-center mb-3 mx-2 mt-3">
    <div class="container">
      <!-- <p>&copy; 2024 MyBlog. All rights reserved.</p> -->
      <p>Follow us on
        <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://x.com/i/flow/login" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
      </p>
    </div>
  </footer>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>


